<!DOCTYPE html>
<html>
  <head>
    <title>Hubble Space Telescope</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <article class="<%= className('styles', 'article') %>">
      <h1 class="<%= className('styles', 'title') %>">The Hubble Space Telescope</h1>
      <figure class="<%= className('styles', 'figure') %>">
        <img
          class="<%= className('styles', 'image') %>"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/HST-SM4.jpeg/600px-HST-SM4.jpeg"
          alt="The Hubble Space Telescope (HST)"
        >
      </figure>
      <p class="<%= className('styles', 'first') %>">
        The Hubble Space Telescope (HST) is a space telescope that was launched
        into low Earth orbit in 1990, and remains in operation.
        With a 2.4-meter (7.9 ft) mirror, Hubble's four main instruments observe
        in the near ultraviolet, visible, and near infrared spectra.
        The telescope is named after the astronomer Edwin Hubble.
      </p>
      <p class="<%= className('styles', 'second') %>">
        Hubble's orbit outside the distortion of Earth's atmosphere allows
        it to take extremely high-resolution images with negligible background
        light. Hubble has recorded some of the most detailed visible-light
        images ever, allowing a deep view into space and time. Many Hubble
        observations have led to breakthroughs in astrophysics, such
        as accurately determining the rate of expansion of the universe.
      </p>
      <p class="<%= className('styles', 'third') %>">
        Although not the first space telescope, Hubble is one of the largest
        and most versatile, and is well known as both a vital research tool and
        a public relations boon for astronomy. The HST was built by the United
        States space agency NASA, with contributions from the European Space
        Agency, and is operated by the Space Telescope Science Institute.
        The HST is one of NASA's Great Observatories, along with the Compton
        Gamma Ray Observatory, the Chandra X-ray Observatory, and the Spitzer
        Space Telescope.
      </p>
    </article>
  </body>
</html>
